@import url(/reset.css);
.flex{display: flex;}
/* .swiper {
    width: 100%;
    height: 623px;
  }
  .swiper-button-next{
      color: #000;
      position: absolute;
      left: 80%;
      padding: 10px;
  }
  .swiper-button-prev{
      color: #000;
      position: absolute;
      left: 20%;
      padding: 10px;
  }
  .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

a.btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./acebedmall_co_kr/visual-control.png);
    position: absolute;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
}

a.prev {
    left: 80%;
    background-position: top right;
}

a.next {
    left: 20%;
    background-position: top left;
}

a.btn:hover {
    background-position-y: -40px;
}

ul.banner {
    position: absolute;
    z-index: 99;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    align-items: flex-end;
}

ul.banner li {
    flex: 1;
    margin-left: 1px;
}

ul.banner li a {
    display: block;
    padding: 1.5rem;
     height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    transition: .35s;
}
ul.banner li.on a{
    padding-top: 2.5rem;
}
#sec2{
    position: relative;
}
.best h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
.best ul.menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.best ul.menu li.border{
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
    color: aqua;
}
.best ul.menu li.border a{
    font-weight: bolder;
}

.best ul li a{
    display: block;
    padding: 1.5rem;
}

ul.tab{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 140px;
    gap: 40px;
    border: 1px solid #000;
}

ul.tab li img{
    width: 246px;
    height: 216px;
    margin-left: 3px;
}

.best .menu li a.on{
    color: rgb(26, 30, 236);
    font-weight: bolder;
    border-bottom: 3px solid rgb(26, 30, 236);
}